[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
sqlalchemy = "*"
google-auth = "*"
google-api-python-client = "*"
"psycopg2" = "*"
uritemplate = "*"

[dev-packages]

[requires]
python_version = "3.6"
