[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-jwt = "*"
flask-sqlalchemy = "*"
requests = "*"
pyjwt = "*"
google-auth = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.6"
